:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-color: #2f303a;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
}
