%flex-row {
  display: flex;
  align-items: center;
}
%flex-jus {
  display: flex;
  align-items: center;
  justify-content: center;
}

%color {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

%form {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
%button {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  outline: transparent;
  border: none;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
