ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0px;
}
ul.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.section-title {
  color: var(--title-text-color);
  margin-top: 0;
}

/*main*/
/*  hero*/
textarea {
  resize: none;
}
